<style>
    h1 {
        color: #1b212c;
    }

    #userFriendList {
        background-image: linear-gradient(to bottom right, #ddd , #eee, #fff);
        max-width: 315px;
        padding: 25px;
        border-radius: 12px;
        margin-top: 30px;
        margin-left: 30px;
    }
    #userFriendList h3 {
        text-align: center;
        color: red;
    }
    #userFriendList a {
        text-decoration: none;
        color: red;
    }
    .user-friend {
        max-width: 300px;
        width: 300px;
        background-image: linear-gradient(to right, #ddd , #eee, #fff);
        border-radius: 12px;
        backdrop-filter: blur(4px);
        margin-bottom: 20px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 4px;
        display: inline-flex;
    }
    .friend-image {
        max-width: 100px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
    .friend-image img {
        width: 100px;
        min-height: 100px;
    }
    .friend-data {
        width: 165px;
        max-width: 175px;
        height: 80px;
        margin-top: 7px;
        margin-left: 15px;
        padding: 5px;
        text-align: right;
        background-image: linear-gradient(to bottom, #eee, #fff);
    }
    .friend-data h5 {
        margin-block-start: 5px;
        margin-block-end: 0;
        font-size: 1rem;
    }
    .friend-data p {
        margin-block-start: 5px;
        margin-block-end: 0;
        padding-top: 0;
        margin-left: 8px;
    }
    .friend-data a {
        margin-left: 5px;
    }

</style>


<div class="page-header">
    <div class="page-info">
        <h1><%= title %></h1>
        <p>Welcome <%= user.fname %>!</p>
    </div>
    <div class="user-info">
        <a href="/users/settings"><i class="fas fa-user-cog"></i></a>
    </div>
</div>

<div class="">
    <div id="userFriendList">
        <h3>Your Team</h3>
        <% allUsers.forEach(function(user) { %>
            <a href="/users/<%= user.id %>">
                <div class="user-friend square-neo">
                    <div class="friend-image round-neo">

                        <img src="<%= user.profile_image %>" alt="User Avatar">
                    </div>
                    <div class="friend-data square-neo-inset">
                        <h5><%= user.fname %> <%= user.lname %></h5>
                        <p style="font-size: 1.5rem;"><a href="<%= user.social.widespread %>" target="_blank"><img src="/images/system/ws_logo.jpg" alt="" width="25px" height="25px"></a><a href="mailto:<%= user.email %>" target="_blank"><i class="far fa-envelope"></i></a><a href="https://github.com/WideSpreadOS" target="_blank"><i class="fab fa-github-square"></i></a></p>
                    </div>
                </div>
            </a>
        <% }) %>
      
    </div>
</div>