<style>

    .add-notebook {
        width: 330px;
        padding-bottom: 30px;
        margin-top: 30px;
        border-radius: 8px;
        margin-left: 30px;


    }
    .add-notebook form {
        width: 300px;
        margin: 10px;
    }
    .add-notebook input {
        width: 100%;
        border-radius: 6px;
        padding: 5px;
        border: none;
        outline: none;
        margin-top: 8px;
    }
    .add-notebook input[type="color"] {
        width: 30px;
        margin-top: 8px;
        padding: 3px;
        display: block;
    }
    .add-notebook textarea {
        width: 100%;
        border-radius: 6px;
        padding: 5px;
        margin-top: 8px;
        border: none;
        outline: none;
    }
    .add-notebook button {
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
        padding: 10px;
        color: #fff;
        background: crimson;
        border: none;
        outline: none;
        border-radius: 6px;
    }
    .hidden {
        display: none;
    }
    .notebooks {
        display: flex;
    }
    .notebook {
        padding: 10px;
        padding-top: 0;
        width: 300px;
        min-height: 200px;
        margin-left: 20px;
        border-radius: 12px;
        border: 2px outset rgba(255, 255, 255, 0.5);
    }
    
    .notebook-header {
    }
    .notebook-header a {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 2px #fff;
    }
    .note-list {
        max-height: 300px;
        min-height: 300px;
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 5px;
    }
    .note {
        padding: 5px;
        border-radius: 8px;
        margin-top: 10px;

    }
    .add-new-note {
        padding: 5px;
    }
    .add-new-note input {
        max-width: 37%;
        outline: none;
        border: none;
        border-radius: 6px;
        padding: 5px;
    }
    .add-new-note input[type="color"] {
        width: 10%;
        padding: 3px;
    }
    .add-new-note textarea {
        width: 95%;
        margin-top: 8px;
        outline: none;
        border: none;
        border-radius: 6px;
        padding: 5px;
    }
    .add-new-note button {
        background: crimson;
        width: 90%;
        margin-left: 5%;
        margin-top: 8px;
        padding: 8px;
        outline: none;
        border: none;
        border-radius: 6px;
        color: #fff;
    }
</style>

<div class="page-title">
    <h1><%= title %></h1>
</div>
<div class="header-title">
    <h1>Add a New Notebook</h1>
</div>
<div class="add-notebook glass">
    <h4>Add a New Notebook</h4>
    <form action="/your-desk/<%= user.id %>/new-notebook" method="POST">
        <input type="text" name="notebookOwner" value="<%= user.id %>" hidden class="hidden">
        <input type="text" name="notebookName" placeholder="Name of Notebook">
        <textarea name="notebookDescription" placeholder="Add a descripition of your notebook"></textarea>
        <p>Notebook Color:</p>
        <input type="color" name="notebookColor">
        <button type="submit">Add Notebook</button>
    </form>
</div>
<div class="header-title">
    <h1>Your Notebooks</h1>
</div>
<div class="notebooks">
    <% notebooks.forEach(function(notebook) { %>
        <div class="notebook glass frosted-glass">
            <div class="notebook-header">
                <a href="/your-desk/<%= user.id %>/notebooks/<%= notebook.id %>" style="color: <%= notebook.notebookColor %>;">
                    <h4><%= notebook.notebookName %></h4>
                    <hr>
                    <p><%= notebook.notebookDescription %></p>
                </a>
            </div>
            <div class="note-list">
                <% notebook.notes.forEach(function(note) { %>
                    <div class="note glass">
                        <h6><%= note.noteTitle %></h6>
                        <p><%= note.noteBody %></p>
                    </div>
                <% }) %>
            </div>
            <div class="add-new-note">
                <form action="/your-desk/<%= user.id %>/note/new/<%= notebook.id %>" method="POST">
                    <input type="text" name="noteTitle" placeholder="Note Title">
                    <input type="text" name="noteCategory" placeholder="Note Category">
                    <input type="color" name="noteColor">
                    <textarea name="noteBody" placeholder="Note..."></textarea>
                    <button type="submit">Add Note</button>
                </form>
            </div>
        </div>

    <% }) %>
</div>
