<style>

</style>

<div class="page-title">
    <h1><%= title %></h1>
</div>

<div class="add-notebook">
    <h4>Add a New Notebook</h4>
    <form action="/your-desk/<%= user.id %>/new-notebook" method="POST">
        <input type="text" name="notebookOwner" hidden value="<%= user.id %>">
        <input type="text" name="notebookName" placeholder="Name of Notebook">
        <textarea name="notebookDescription" placeholder="Add a descripition of your notebook"></textarea>
        <p>Notebook Color:</p>
        <input type="color" name="notebookColor">
        <button type="submit">Add Notebook</button>
    </form>
</div>

<div class="notebooks">
    <h1>Your Notebooks</h1>
    <% notebooks.forEach(function(notebook) { %>
        <div class="notebook" style="background: <%= notebook.notebookColor %>">
            <h4><%= notebook.notebookName %></h4>
            <hr>
            <p><%= notebook.notebookDescription %></p>
            <div class="note-list">
                <% notebook.notes.forEach(function(note) { %>
                    <div class="note" style="background: <%= note.noteColor %>">
                        <h6><%= note.noteTitle %></h6>
                        <p><%= note.noteBody %></p>
                    </div>
                <% }) %>
            </div>
            <div class="add-new-note">
                <form action="/your-desk/<%= user.id %>/note/new/<%= notebook.id %>" method="POST">
                    <input type="text" name="noteTitle" placeholder="Note Title">
                    <input type="text" name="noteCategory" placeholder="Note Category">
                    <textarea name="noteBody" placeholder="Note..."></textarea>
                    <input type="color" name="noteColor">
                    <button type="submit">Add Note</button>
                </form>
            </div>
        </div>

    <% }) %>
</div>
